.Container {
    display: grid;
    justify-content: center;
}

.LabelRoot {
    font-size: 16px;
    font-weight: 500;
    line-height: 35px;
}

.Input {
    width: 200px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 0 10px;
    height: 35px;
    font-size: 16px;
    line-height: 1;
    box-shadow: 0 0 0 1px var(--blackA9);
}

.Input:focus {
    box-shadow: 0 0 0 2px black;
}

.SubmitButton {
    background-color: var(--green5);
    font-size: 16px;
    border-color: var(--green10);
    padding: 8px;
    margin-left: 8px;
}
