@import "@radix-ui/colors/blackA.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/red.css";

:root {
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
}

a:visited {
    color: unset;
}
